.container
  %nav.navbar.navbar-expand-lg.border-bottom.border-secondary
    = link_to 'Gamepay', root_path, class: 'navbar-brand text-secondary'
    %form.form-inline
      %input.form-control.form-control-sm.border-0{placeholder: 'Find anything...'}
      %button.btn.btn-sm
        %i.fas.fa-search

    .collapse.navbar-collapse
      .navbar-nav.w-100.justify-content-end.align-items-center
        = link_to 'Settings', "#", class: 'nav-item nav-link'
        = link_to 'Funds', "#", class: 'nav-item nav-link'
        = link_to 'My games', "#", class: 'nav-item nav-link'
        = link_to 'Help', "#", class: 'nav-item nav-link'
        = link_to "#", class: 'nav-item nav-link' do
          %i.far.fa-user-circle.fa-2x
